@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  background-color: #fff;
  color: #222;
}
body.dark {
  background-color: #111827;
  color: #f3f4f6;
}
body.indigo {
  background-color: #1e1b4b;
  color: #c7d2fe;
}
body.emerald {
  background-color: #064e3b;
  color: #d1fae5;
}
